<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>BulSU Voting System</title>

    <link rel="stylesheet" type="text/css" href="admin/css/index-admin.css" />
    <link rel="stylesheet" type="text/css" href="admin/css/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="admin/css/blockchain-management.css" />

    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=upins:wght@400;700&display=swap" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/ethers@5.7.2/dist/ethers.umd.min.js"></script>
  </head>

  <body>
    <%- include('header') %>

    <div class="content">
      <%- include('sidebar', { activeTab: 'blockchain' }) %>
      <main class="main">
        <div id="container-overlay">
          <div class="title-container">
            <div class="r">
              <i class="fa fa-link"></i>
              <h1 class="title">Blockchain Management</h1>
            </div>
          </div>
          <hr class="title-line" />

          <div class="column-main box-shadow">
            <div class="first-main">
              <div class="left">
                <h2>Blockchain Information</h2>
                <br />
                <div class="indent">
                  <ul>
                    <li>
                      <p><strong>Blockchain Network: </strong>Polygon</p>
                    </li>
                    <li>
                      <p><strong>Consensus Mechanism: </strong>Proof-of-stake (POS)</p>
                    </li>
                    <li>
                      <p><strong>Average Transaction Speed: </strong>2000 -4000 Transaction per Second</p>
                    </li>
                    <li>
                      <p><strong>Maximum Capacity: </strong>7000 Transaction per Second</p>
                    </li>
                  </ul>
                </div>
                <br />
                <h2>Admin Wallet Information</h2>
                <br />
                <!-- Wallet Address -->
                <div class="indent">
                  <ul>
                    <li>
                      <p><strong>Wallet Address:</strong> <%= walletInfo ? walletInfo.address : "N/A" %></p>
                    </li>
                    <br />
                    <li>
                      <p>
                        <strong>Current Balance: <span>Excellent</span></strong>
                      </p>
                    </li>
                    <br />
                    <table class="currency">
                      <tr>
                        <th>Polygon (POL)</th>
                        <th>United States Dollar (USD)</th>
                        <th>Philippine Peso (PHP)</th>
                      </tr>
                      <tr>
                        <td><%= walletInfo ? walletInfo.balancePOL.toFixed(4) : "N/A" %> POL</td>
                        <td><%= walletInfo && walletInfo.balanceUSD ? walletInfo.balanceUSD.toFixed(2) : "N/A" %> USD</td>
                        <td><%= walletInfo && walletInfo.balancePHP ? walletInfo.balancePHP.toFixed(2) : "N/A" %> PHP</td>
                      </tr>
                    </table>
                    <br />
                    <!-- Last update of data -->

                    <br />
                    <li>
                      <p><strong>Live Fee Estimate per Vote Transaction:</strong> <span>0 POL</span> | <span>0 USD</span> | <span>0 PHP</span></p>
                    </li>

                    <br />
                    <li>
                      <p><strong>Live Recommended Fund Estimate:</strong> <span>0 POL</span> | <span>0 USD</span> | <span>0 PHP</span></p>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="right">
                <h2>Blockchain Transactions</h2>
                <br />
                <div class="indent">
                  <ul>
                    <li>
                      <p><strong>Candidate Submission Count: </strong><span>0</span></p>
                      <div class="indent-ish">
                        <p><strong>Latest Transaction Hash:</strong> <%= blockchainInfo ? blockchainInfo.transactionHash : "N/A" %></p>
                        <p>
                          <strong>Latest Submission Date:</strong>
                          <%= blockchainInfo && blockchainInfo.dateSent ? new Date(blockchainInfo.dateSent).toLocaleString() : "N/A" %>
                        </p>
                      </div>
                    </li>

                    <br />
                    <li>
                      <p><strong>Vote Transactions Count: </strong><span>0</span></p>
                    </li>

                    <br />
                    <li>
                      <p><strong>Total Blockchain Transactions: </strong><span>0</span></p>
                      <div class="indent-ish">
                        <p><strong>Total Gas Used:</strong> <%= blockchainInfo ? blockchainInfo.gasUsed : "N/A" %> Gas</p>
                        <p><strong>Total Amount Spent (Wei):</strong> <%= blockchainInfo ? blockchainInfo.amountSpentWei : "N/A" %> Wei</p>
                        <br />
                        <p><strong>Total Amount Spent:</strong></p>
                      </div>
                    </li>
                    <br />
                    <table class="currency">
                      <tr>
                        <th>Polygon (POL)</th>
                        <th>United States Dollar (USD)</th>
                        <th>Philippine Peso (PHP)</th>
                      </tr>
                      <tr>
                        <td><%= blockchainInfo ? blockchainInfo.amountSpentEth : "N/A" %> POL</td>
                        <td><%= blockchainInfo && blockchainInfo.amountSpentUsd ? blockchainInfo.amountSpentUsd.toFixed(2) : "N/A" %> USD</td>
                        <td><%= blockchainInfo && blockchainInfo.amountSpentPhp ? blockchainInfo.amountSpentPhp.toFixed(2) : "N/A" %> PHP PHP</td>
                      </tr>
                    </table>

                    <br />
                  </ul>
                </div>
              </div>
            </div>
            <div class="update-date">
              <p>All Data Last Updated on <strong><%= walletInfo ? walletInfo.updatedAt.toLocaleString() : "N/A" %></strong></p>
            </div>
          </div>
        </div>
      </main>
    </div>

    <%- include('footer') %>

    <script src="admin/js/sidebar.js"></script>
    <script src="admin/js/index-admin.js"></script>
    <script src="js/dropdown.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      // Connect to Socket.IO, passing the logged-in admin's email
      const socket = io("/", { query: { email: "<%= loggedInAdmin.email %>" } });
    </script>
  </body>
</html>
