<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Voting System</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="voter/css/index-voter.css" />
    <link rel="stylesheet" type="text/css" href="voter/css/review.css" />
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
   
  </head>

  <body>
    <header class="header">
      <div class="header-logo">
        <img src="img/logo_tanikala.png" alt="Tanikala Voting System" />
      </div>
      <nav class="header-nav">
        <ul class="header-nav-content">
          <li>Vote</li>
          <p>|</p>
          <li id="active-link">Review</li>
          <p>|</p>
          <li>Verify</li>
          <div class="dropdown">
            <div class="settings">
              <i class="fa-solid fa-user"></i>
              <button class="dropdown-toggle">
                <i class="fas fa-caret-down"></i>
              </button>

              <div class="dropdown-menu">
                <a href="#">Logged in as <span>Microsoft Email</span></a>
                <a href="#">Log Out</a>
              </div>
            </div>
          </div>
        </ul>
      </nav>

      <div class="header-bottom-line"></div>
    </header>

    <div class="content">
      <div class="main-first">
        <img src="img/logo_bulsu.png" class="main-first-logo" alt="BulSU Logo" />
        <div class="first-text">
          <h2 class="title">BulSU Student Government Elections<br />2025 - 2026</h2>
        </div>
        <img src="img/logo_bulsu_ucse.png" class="main-first-logo" alt="BulSU UCSE Logo" />
      </div>

      <div class="content-main">
       
        <p><i>Please REVIEW your votes before SUBMITTING BALLOT to the Blockchain.</i></p>
        <br />
        <div class="review">
          <br />
          <h3 class="ballot-header ballot-council">Vote Summary</h3>

          <h3 class="ballot-header ballot-position">BulSU Supreme Student Council S.Y. 2025-2026</h3>
          <br />

          <ul>
            <li>
              <% president %>
              <div class="card">
                <div class="smallIcon">
                  <div class="Icon">
                    <img src="<%= president.image %>" alt="<%= president.name %>" />
                  </div>
                  <div class="Name">
                    <h2><%= president.name %></h2>
                  </div>
                  <div class="Roles">
                    <h2><%= president.position %></h2>
                  </div>
                  <div class="Description">
                    <p><%= president.moreInfo %></p>
                  </div>
                </div>
              </div>
            </li>
            <br />
            <li>
              <div class="card">
                <div class="smallIcon">
                  <div class="Icon">
                    <img src="<%= vicePresident.image %>" alt="<%= vicePresident.name %>" />
                  </div>
                  <div class="Name">
                    <h2><%= vicePresident.name %></h2>
                  </div>
                  <div class="Roles">
                    <h2><%= vicePresident.position %></h2>
                  </div>
                  <div class="Description">
                    <p><%= vicePresident.moreInfo %></p>
                  </div>
                </div>
              </div>
            </li>
            <br />
            <li>
              <div class="senator-cards">
                <% if (Array.isArray(senator)) { %> <% senator.forEach(function(senatorCandidate) { %>
                <div class="card">
                  <div class="smallIcon">
                    <div class="Icon">
                      <img src="<%= senatorCandidate.image %>" alt="<%= senatorCandidate.name %>" />
                    </div>
                    <div class="Name">
                      <h2><%= senatorCandidate.name %></h2>
                    </div>
                    <div class="Roles">
                      <h2><%= senatorCandidate.position %></h2>
                    </div>
                    <div class="Description">
                      <p><%= senatorCandidate.moreInfo %></p>
                    </div>
                  </div>
                </div>
                <br />
                <% }); %> <% } else { %>
                <div class="card">
                  <div class="smallIcon">
                    <div class="Icon">
                      <img src="<%= senator.image %>" alt="<%= senator.name %>" />
                    </div>
                    <div class="Name">
                      <h2><%= senator.name %></h2>
                    </div>
                    <div class="Roles">
                      <h2><%= senator.position %></h2>
                    </div>
                    <div class="Description">
                      <p><%= senator.moreInfo %></p>
                    </div>
                  </div>
                </div>
                <br />
                <% } %>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="smallIcon">
                  <div class="Icon">
                    <img src="<%= governor.image %>" alt="<%= governor.name %>" />
                  </div>
                  <div class="Name">
                    <h2><%= governor.name %></h2>
                  </div>
                  <div class="Roles">
                    <h2><%= governor.position %></h2>
                  </div>
                  <div class="Description">
                    <p><%= governor.moreInfo %></p>
                  </div>
                </div>
              </div>
            </li>
            <br />
            <li>
              <div class="card">
                <div class="smallIcon">
                  <div class="Icon">
                    <img src="<%= viceGovernor.image %>" alt="<%= viceGovernor.name %>" />
                  </div>
                  <div class="Name">
                    <h2><%= viceGovernor.name %></h2>
                  </div>
                  <div class="Roles">
                    <h2><%= viceGovernor.position %></h2>
                  </div>
                  <div class="Description">
                    <p><%= viceGovernor.moreInfo %></p>
                  </div>
                </div>
              </div>
            </li>
            <br />
            <li>
              <div class="card">
                <div class="smallIcon">
                  <div class="Icon">
                    <img src="<%= boardMember.image %>" alt="<%= boardMember.name %>" />
                  </div>
                  <div class="Name">
                    <h2><%= boardMember.name %></h2>
                  </div>
                  <div class="Roles">
                    <h2><%= boardMember.position %></h2>
                  </div>
                  <div class="Description">
                    <p><%= boardMember.moreInfo %></p>
                  </div>
                </div>
              </div>
            </li>
            <br />
          </ul>

          <form id="voteForm" action="/submit-votes-to-blockchain" method="POST">
            <!-- Hidden inputs for each candidate object -->
            <input type="hidden" name="president" value="<%= JSON.stringify(president) %>" />
            <input type="hidden" name="vicePresident" value="<%= JSON.stringify(vicePresident) %>" />
            <input type="hidden" name="senator" value="<%= JSON.stringify(senator) %>" />
            <input type="hidden" name="governor" value="<%= JSON.stringify(governor) %>" />
            <input type="hidden" name="viceGovernor" value="<%= JSON.stringify(viceGovernor) %>" />
            <input type="hidden" name="boardMember" value="<%= JSON.stringify(boardMember) %>" />\
            <input type="hidden" name="college" value="<%= college %>" />
            <input type="hidden" name="program" value="<%= program %>" />
            <input type="hidden" name="email" value="<%= email %>" />
            <!-- Submit button -->
            <div class="button-container">
              <button class="button-back" type="button" onclick="window.location.href='/vote'">
                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12H4.5m0 0l6.75-6.75M4.5 12l6.75 6.75"></path>
                </svg>
                <div class="text">Go Back</div>
              </button>

              <input type="hidden" id="voteData" value="Vote data placeholder" />
              <button type="submit" id="submitBtn" value="Submit Votes to Blockchain" onclick="" class="button">
                <span class="fold"></span>

                <div class="points_wrapper">
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                </div>

                <span class="inner">
                  <svg class="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5">
                    <polyline points="13.18 1.37 13.18 9.64 21.45 9.64 10.82 22.63 10.82 14.36 2.55 14.36 13.18 1.37"></polyline>
                  </svg>
                  <span>Submit Votes</span>
                </span>
              </button>
            </div>
          </form>

          <br /><br />
          <hr />
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-left">
        <img src="img/calendar.png" class="footer-img" />
        <p id="datetime">OCTOBER 23, 2024 - 04:17 AM</p>
      </div>

      <div class="footer-center">
        <img src="img/copyright.png" class="footer-img" id="copyright-img" />
        <p>2025 - Fourmula 1</p>
      </div>
      <div class="footer-right"></div>
    </footer>
    </script>
    <script src="js/index.js"></script>
  </body>
</html>
