<div class="ballot-choices">
  <div class="label-container label-president">
    <input class="ballot-choice candidate-radio" data-group="president" id="president-selected" type="radio" name="president" value="<%= JSON.stringify(president) %>" checked disabled />
    <label class="ballot-tile" for="president-selected">
      <!-- Party Name -->
      <h4 class="party"><%= president.party %></h4>
      <!-- Candidate Image -->
      <img class="img-president" src="<%= president.image %>" alt="<%= president.name %>" />
      <!-- Candidate Name -->
      <h4 class="name"><%= president.name %></h4>
      <hr />
      <!-- Additional Candidate Info -->
      <p class="info"><%= president.moreInfo %></p>
    </label>
  </div>
</div>
